<h1>Leisure-time Activities</h1>
<main>
    <div class="card">
        <h3>Writing</h3>
        <div class="card-body">
            <img src="../assets/writing.png">
            <h2 style="text-align:center;">Writing for me is listening to my inner soul.It has been my way of expressing
                myself,my thoughts, and
                ideas.</h2>
        </div>
    </div>

    <div class="card">
        <h3>Reading</h3>
        <div class="card-body">
            <img src="../assets/reading.png">
            <h2 style="text-align:center;">Reading is one of the thing that I enjoyed doing in my leisure time.Aside
                from, it's helping me improved my
                communication skills it as well open me to more ideas and preferences. </h2>
        </div>
    </div>
</main>
<main>
    <div class="card">
        <h3>Biking</h3>
        <div class="card-body">
            <img src="../assets/biking.png">
            <h2 style="text-align:center;">Biking is one of my interest. I love riding bike.It gives me so much fun and enjoyment.It makes me 
            feel wild and free.</h2>
        </div>
    </div>

    <div class="card">
        <h3>Watching</h3>
        <div class="card-body">
            <img src="../assets/kdrama.jpg">
            <h2 style="text-align:center;">Watching kdrama is one of the thing that I do most of my free time. Aside from
            being an entertainment, it gives me a lot of lessons that can be apply in real life.</h2>
        </div>
    </div>
</main>