main {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1px;
    margin-left: 10%;
    margin-top: 5%;
  }
h1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: black;
  font-size: 60px;
  text-align: center;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 5%;
  margin-top: 10px;
}
.card {
  width: 400px;
  height: 400px;
  box-shadow: 0 4px 8px 0 skyblue;
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
}
h2 {
    font-size: 15px;
    height: 80px;
    width: 300px;
    font-family: Georgia;
    text-align:justify;
    margin-left: 10%;

    
}
h3{
    font-size: 40px;
    text-align:center;
    box-shadow: 0 4px 8px 0 skyblue;
    font-family: Brush Script MT, Brush Script Std, cursive;

}


