<h1>Projects Highlights</h1> 
<main>
    <div class="card" >
        <img class="card-img-top" src="../assets/lego.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Lego Waker(2019)</h5>
            <p class="card-text">A lego waker that has three features capable of waking a person up</p>
            
        </div>
        <a routerLink="/contacts" class="btn btn-primary">Know More</a>
    </div>

    <div class="card" >
        <img class="card-img-top" src="../assets/renthing.png" alt="Card image cap">
        <div class="card-body1">
            <h5 class="card-title">Renthing(2019)</h5>
            <p class="card-text">Mobile-web application that allows users to rent anything they want.</p>

        </div>
        <a class="btn btn-primary" routerLink="/contacts" >Know More</a>
    </div>
</main>

<main>
    <div class="card">
        <img class="card-img-top" src="../assets/smartmenu.png" alt="Card image cap">
        <div class="card-body2">
            <h5 class="card-title">Smartmenu(2019)</h5>
            <p class="card-text">An moblie-we   applcation that aims to deliver digital ordering system through touch screen.</p>
           
        </div>
        <a  class="btn btn-primary" routerLink="/contacts">Know More</a>
    </div>

    <div class="card">
        <img class="card-img-top" src="../assets/abang.png" alt="Card image cap">
        <div class="card-body3">
            <h5 class="card-title">Abang(2019)</h5>
            <p class="card-text">Mobile-web application that connects boarders and those looking for boarding houses to the landowners.</p>
          
        </div>
        <a  class="btn btn-primary" routerLink="/contacts">Know More</a>
    </div>
</main>


    <div class="card1" >
        <img class="card-img-top" src="../assets/isee.png" alt="Card image cap">
        <div class="card-body4">
            <h5 class="card-title">Isee(2019)</h5>
            <p class="card-text">A mobile framework that connects communtiy with government in regards with environmental issues.</p>
           
        </div>
        <a  class="btn btn-primary" routerLink="/contacts">Know More</a>
    </div>
 