<h1>Get in touch with me</h1> 
<div class="row">
	<div class="card">
		<p class="card-text"> <span class="label">Gmail: </span>Mariajudelyn.cabalhao@student.passerellesnumeriques.org
		</p>
		<br>
		<a href="https://mail.google.com/mail" class="btn btn-primary">Visit</a>
	</div>
</div>
<div class="row">
	<div class="card">
		<p class="card-text"> <span class="label">LinkedIn: </span>MariaJudelyn Cabalhao</p>
		<br>
		<a href="https://www.linkedin.com/in/mariajudelyn-cabalhao-a03781195/" class="btn btn-primary">Visit</a>
	</div>
</div>
<div class="row">
	<div class="card">
		<p class="card-text"> <span class="label">Facebook: </span>Maire Judelyn Abayare Cabalhao</p>
		<br>
		<a href="www.facebook.com/jude844" class="btn btn-primary">Visit</a>
	</div>
</div>
<div class="row">
	<div class="card">
		<p class="card-text"> <span class="label">Mobile Number: </span>09305479693</p>
	</div>
</div>