
main {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2px;
  margin-left: 5%;
  margin-top: 5%;
}
h1 {
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: black;
  font-size: 60px;
 margin-top: 5%;
  text-align: center;
}
.card{
  box-shadow: 0 4px 8px 0 skyblue;
  width:500px;
  height:60px;
  margin-left: 30%;
  margin-top:5%;
}
.label{
  text-align: center;
  font-size: 15px;
  font-family: Georgia;
  padding-top: 5%;
  color: black;

}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-left: 40%;
}

.row {
  margin-top: 10px;
}
.card-text{
  text-align: center;
  font-size: 15px;
  font-family: Georgia;
  padding-top: 5%

}