<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
  
      </div>
  
      <ul class="nav navbar-nav">
        <li><img class="img2" src="../assets/logo.png"></li>
        <li><a class="btn btn-black" href="/home" role="button">Home</a>
        <li>
        <li><a class="btn btn-black" routerLink="skills" role="button">Skills</a></li>
        <li><a class="btn btn-black" routerLink="projects" role="button">Projects</a></li>
        <li><a class="btn btn-black" routerLink="hobbies" role="button">Hobbies</a></li>
        <!-- <li><a class="btn btn-black" href="#" role="button">Contact</a></li> -->
  
      </ul>
      <form class="navbar-form navbar-left" action="/action_page.php">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
  
    </div>
  </nav>
<router-outlet></router-outlet>
